form {
    width: 800px;
    margin: 0 auto;
    background-image: url(https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/wp-content/uploads/2017/06/2017-Lexus-LC500-118.jpg?crop=0.726xw:0.593xh;0.0358xw,0.407xh&resize=1200:*);
    background-repeat: no-repeat;
    background-color:rgb(146, 0, 0);
    color: red;
}

input[type="text"]{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fd0202;
    border-radius: 4px;
    text-align: center;
    border-radius: 20px;
    color: red;
    opacity: 0.7;
}

input[type="email"]{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fd0202;
    border-radius: 4px;
    text-align: center;
    border-radius: 20px;
    color: red;
    opacity: 0.7;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fd0202;
    border-radius: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid black;
}